*{
    background-color: black;
}

@media screen and (max-width: 768px) {
   /* voor mobiel */
    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #f1921D;
        background-color: #f1921D;
        border-radius: 20px;
        width: 24rem;
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    .intro {
        color: black;
        background-color: #f1921D;
        font-size: large;
    }

    .banner > img {
        height: 12rem;
        width: 24rem;
        border-radius: 20px;
    }

    .home_tekst{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #f1921D;
        background-color: #f1921D;
        border-radius: 20px;
        width: 24rem;
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    .home_paragraaf{
        color: black;
        background-color: #f1921D;
        font-size: large;
    }

    .home_tekst > img{
        height: 12rem;
        width: 24rem;
        border-radius: 20px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
/* voor tablet */
    .banner {
        border: 2px solid #f1921D;
        background-color: #f1921D;
    }

    .intro {
        color: black;
        background-color: #f1921D;
        font-size: large;
    }

    .banner > img {
        height: 16rem;
        width: 60rem;
        border-radius: 20px
    }
 
    .home_tekst{
        border: 2px solid #f1921D;
        background-color: #f1921D;
        border-radius: 20px;
        width: 95rem;
        display: flex;
        flex-direction: row; 
        align-items: center; 
    }

    .home_paragraaf{
        color: black;
        background-color: #f1921D;
        font-size: large;
    }

    .home_tekst > img{
        height: 16rem;
        width: 60rem;
        border-radius: 20px;
    }
}

@media screen and (min-width: 1280px) {
/* voor computer of iets groter */
    .banner {
        border: 2px solid #f1921D;
        background-color: #f1921D;
        border-radius: 20px;
        width: 94rem;
        display: flex;
        flex-direction: row; 
        align-items: center; 
    }

    .intro {
        color: black;
        background-color: #f1921D;
        font-size: large;
    }

    .banner > img {
        height: 16rem;
        width: 60rem;
        border-radius: 20px
    }

    .home_tekst{
        border: 2px solid #f1921D;
        background-color: #f1921D;
        border-radius: 20px;
        width: 94rem;
        display: flex;
        flex-direction: row; 
        align-items: center; 
    }

    .home_paragraaf{
        color: black;
        background-color: #f1921D;
        font-size: large;
    }

    .home_tekst > img{
        height: 16rem;
        width: 60rem;
        border-radius: 20px;
    }
}

/* reserveren formulier */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Staatliches&display=swap');

body {
    font-family: 'Roboto', sans-serif; 
    background-color: #f4f4f4;
    text-align: center;
}

.formulier {
    background-color: #e67e22;
    color: white; 
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    width: 450px; 
    text-align: left;
}

h2 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
    background: none; 
    color: white; 
    font-family: 'Oswald', sans-serif; 
}

article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    flex: 1;
    background: none;
    color: white; 
    font-family: 'Lexend Deca', sans-serif; 
}

input, select {
    flex: 2;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: white; 
    color: black;
    outline: none;
    font-family: 'Roboto Condensed', sans-serif; 
}

select {
    cursor: pointer;
    appearance: none;
}

select option {
    background-color: white;
    color: #000000;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #d35400;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Staatliches', sans-serif; /
}

button:hover {
    background-color: #a04000;
}


/* header */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


article header {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    width: 100%;
    height: 100px; 
    background-color: #000000; 
}


header .logo {
    height: 120px;
    object-fit: contain;
    background-color: transparent; 
}

/* footer */

.footer{
    height: 10vh;
    background-color: #F8733D;
}
